@inherits ConvertBlazorModel
@page "/pgn/convert"
@using PgnReader;

<h2>PGN Conversion</h2>

<p>
    Simple conversion from PGN to a JSON version of the same data.
</p>
<p>
    Enter PGN data in the text below and click convert
</p>
<div asp-validation-summary="All"></div>
<div class="container-fluid" styl>
    <EditForm Model="@Model" OnValidSubmit="@Convert">
        <div class="row">
            <DataAnnotationsValidator />
            <ValidationSummary />
        </div>
        <div class="row h-75">
            <div class="col-md">
                <label for="PgnText">Enter PGN Text</label><br />
                <InputTextArea id="PgnText"
                               @bind-value="@Model.PgnText"
                               style="font-family: monospace; width: 100%;"
                               rows="10"
                               placeholder="Paste a PGN Game here"
                               spellcheck="false"></InputTextArea>
            </div>
            <div class="col-md">
                <InputCheckBox id="ExpandedFormat"
                               @bind-value="@Model.ExpandedFormat"></InputCheckBox>
                <label for="ExpandedFormat">Expanded format.</label><br />
                <InputTextArea id="PgJson"
                               @bind-value="@Model.PgJson"
                               style="font-family: monospace; width: 100%;"
                               rows="10"
                               placeholder="JSON will appear here"
                               spellcheck="false"></InputTextArea>
            </div>
        </div>
        <div class="row">
            <button type="submit">Convert</button>
        </div>
    </EditForm>
</div>

