@inherits ChessBoardComponent
<link href="css/chessboard.css" rel="stylesheet" />

<div class="chessboard">
    <table>
        <thead>
            <BoardBorderRow />
        </thead>
        @{
            var black = false;
            for (int y = 8; y >= 1; y--)
            {
                <tr>
                    <td class="board-border">@y</td>
                    @for (int x = 1; x <= 8; x++)
                    {
                        <BoardCell piece="@Piece(x,y)" black="@black" />
                        black = !black;
                    }
                    <td class="board-border">@y</td>
                </tr>
                black = !black;
            }
        }
        <tfoot>
            <BoardBorderRow />
        </tfoot>
    </table>

    <div>@Message</div>

</div>
