@page
@model chess.web.Pages.Pgn.Library2Model

@{
    ViewData["Title"] = "PGN Library";
}

<h1>PGN Library</h1>
<p>NOTE: Currently only showing a small subset of the game data until pagination and more efficient table data retrieval mechanisms are implemented.</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Site)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Round)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].White)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Black)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].Result)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Game[0].MoveText)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Game) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Site.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Event.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Round)
            </td>
            <td>
                @Html.DisplayFor(model => item.White.Name)
            </td>
            <td>
                @Html.DisplayFor(model => item.Black.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td title="@item.MoveText">
                @item.MoveText.Substring(0, 20)...
                @* @Html.DisplayFor(modelItem => item.MoveText.Substring(0,20)) *@
            </td>
        </tr>
}
    </tbody>
</table>
